.message {
  padding: 4rem 0 6rem 0;
  background: #1f153f;
  background-size: cover;
  background-position: center;
  color: #fff;

  h2 {
    font-family: $primary-font;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
  }

  p {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }

  form {
    width: 100%;
    margin: 2rem auto;

    input {
      padding: 1rem;
      border: none;
      width: 48%;
      background: transparent;
      border-bottom: 1px solid white;
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    input[type='text'] {
      margin-right: 3.5%;
    }

    textarea {
      height: 150px;
      margin-top: 2.5rem;
      padding: 1rem;
      font-size: 1rem;
      display: block;
      border: none;
      background: transparent;
      color: #fff;
      border-bottom: 1px solid white;
      width: 100%;

      &::placeholder {
        color: #fff;
      }

      &:focus {
        border: none;
      }
    }

    button {
      margin-top: 2.5rem;
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
      background: rgba(255, 255, 255, 0.4);
      color: #fff;
      border: 1px solid white;

      &:hover {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

@media (max-width: $tabletSize) {
  .message .message__form {
    input[type='text'] {
      margin-right: 3.3%;
    }
  }
}

@media (max-width: $mobileSize) {
  .message {
    p {
      width: 80%;
    }
    .message__form {
      input {
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
}
