.footer {
  padding: 1rem 0;
  background: #121212;

  p {
    margin: 0 auto;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 20%;
    text-align: center;
    color: #fff;
  }
}

@media (max-width: $mobileSize) {
  .footer p {
    width: 60%;
  }
}
